spring-rest-api/.idea/**
spring-rest-api/target/**
spring-rest-api/*.iml
quarkus-rest-api/.idea/**
quarkus-rest-api/target/**
quarkus-rest-api/*.iml
quarkus-reactive-rest-api/.idea/**
quarkus-reactive-rest-api/target/**
quarkus-reactive-rest-api/*.iml
quarkus-mongodb/.idea/**
quarkus-mongodb/target/**
quarkus-mongodb/*.iml
quarkus-polyglot/.idea/**
quarkus-polyglot/target/**
quarkus-polyglot/*.iml
.idea/**